* {
	color: black;
	font-family: 'Mountains of Christmas', cursive;
}

body {
	background-image: url('snowylandscape2.png');
	background-position: center;
	background-repeat: no-repeat;
	margin: auto;
}

#contenedor1 {	
	background-image: url('snowcircle.png'), url('snow2circle.png'), url('snow3circle.png');
	color: white;
	font: 100px/1 'Spirax', cursive;
	height: 100%;
	text-shadow: 0px 0px 4px rgba(255,255,255, 0.5);	
	width: 100%;
	-webkit-animation: snow 20s linear infinite;
	-moz-animation: snow 20s linear infinite;
	-ms-animation: snow 20s linear infinite;
	animation: snow 20s linear infinite;
}

#contenedor2 {
	margin: 200px auto;	
	text-align: center;
	width: 50%;
}

#felicitacion {
	background-color: white;
	border-radius: 20px;
	margin: auto;	
	opacity: 0.4;
	padding: 10px;
	width: 60%;
}

h1 {
	font-size: 1em;
}

p {
	font-size: 0.5em;
}

/*Keyframes*/
@keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: 350px 1000px, 400px 400px, 300px 300px;}
}

@-moz-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-webkit-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	50% {background-color:#b4cfe0;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px; background-color:#023A5F;}
}

@-ms-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}