body {
	background-color: #6FDFD4;
	color: #4B4B4B;
	font-family: 'Iceland', cursive;
	font-size: 20px;
}

div {
	margin: auto;
	margin-top: 300px;
	text-align: center;
	width: 250px;
}

button {
	background-color: white;
	border: none;
	border-radius: 10px;
	color: #414141;
	padding: 10px;
}

ul {
	font-size: 0.8em;
}

#crono {
	font-size: 60px;
	margin-bottom: 20px;
}

#crono span {
	font-size: 30px;
}

#marcas, #mejoresmarcas, #info {
	background-color: #F0F0F0;
	border: 1px solid #868686;
	display: none;
	padding: 10px;
	margin: 20px;
}